@page "/move-claim-page"

@inject Breadcrumbs breadcrumbs
@inject NavigationManager nav;
@inject UserViewModel userViewModel
@inject MoveClaimViewModel moveClaimViewModel

<h4>Transfer Claim</h4>
<MudGrid>
    <MudItem xs="12" sm="6">
        <MudPaper Class="pa-2">
            <MudText Color="@Color.Default">Total Balance: @moveClaimViewModel.BolAccount.TotalBalance</MudText>
            <br />
            <MudSelect Margin="Margin.Dense" @bind-Value="@moveClaimViewModel.SelectedCommercialAddressIndex" T="int" Label="Commercial Address" AnchorOrigin="Origin.BottomCenter" Dense="true">
                @{
                    foreach (var bal in moveClaimViewModel.CommercialBalancesDisplayList)
                    {
                        <MudSelectItem Value="@(bal)" />
                    }
                }
                
            </MudSelect>
            <br />
            <MudTextField @bind-Value="@moveClaimViewModel.MoveClaimForm.Amount" Label="Amount" Variant="MudBlazor.Variant.Outlined" />
            <MudText Color="@Color.Default">Actual Amount: @moveClaimViewModel.MoveClaimForm.ActualAmount</MudText>

            <br/>

            <MudButton Variant="MudBlazor.Variant.Filled" Color="Color.Primary" OnClick="@(async z=> await moveClaimViewModel.MoveClaim())">Claim</MudButton>
        </MudPaper>
    </MudItem>
</MudGrid>

@code {
    protected override async Task OnInitializedAsync()
    {
        await moveClaimViewModel.Initialize();
        breadcrumbs._items = new List<BreadcrumbItem>
        {
            new BreadcrumbItem("Home", href: "/index-with-account", disabled: false),
            new BreadcrumbItem("Transfer Claim", href: null, disabled: true),
        };

        breadcrumbs.userData = userViewModel._userData;
        breadcrumbs.Update();

    }
}
